/* ------------------------------------
  CSS Stylesheet
  Author: Letícia Matos | leticiamatos.com | 
------------------------------------ */ 

/* =============================================================================
   Variables
========================================================================== */

  /* Colors */
  @cK:#111;
  @cO: #AE3E10;
  @cO2: #C95323;
  @cW: #fff;
  @cG: #777777;
  @cG2: #E5E5E5;
  @cG3: #F2F2F2;
  @cB: #1D93DD;
  @cP: #A01DDD;
  @cGreen: #1EB31B;
  @cR: #DD1C1D;

  @cTest:rgba(0,255,0,0.5);  
  
  /* Measures */
  @width:960px;
  .width_center{
    width: @width;
    margin-left: auto;
    margin-right: auto;
  }

  /* Fonts */
  @fontRe: 'gotham_bookregular', sans-serif;
  @fontBl: 'gotham_blackregular', sans-serif;
  @fontIt: 'gotham_bookitalic', sans-serif;


/* =============================================================================
   General
========================================================================== */
.radius3 (@radius: 3px){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.radius4 (@radius: 4px){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.radius6 (@radius: 5px){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.radius5top (@radius: 5px 5px 0 0){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.radius5bottom (@radius: 0 0 5px 5px){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.noRadius (@radius: none){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.transition (@transiton:0.6s){
  transition:@transiton;
  -moz-transition:@transiton;
  -webkit-transition:@transiton;
  -o-transition:@transiton;
  -ms-transition:@transiton;
}
.noTransition (@transiton:none){
  transition:@transiton;
  -moz-transition:@transiton;
  -webkit-transition:@transiton;
  -o-transition:@transiton;
  -ms-transition:@transiton;
}
.noOpacity{
  opacity: 1 !important;
}
.shadow (@shadow: 3px 3px 2px rgba(0,0,0,0.3)){
  box-shadow:@shadow !important;
  -moz-box-shadow:@shadow !important;
  -webkit-box-shadow:@shadow !important;
  -o-box-shadow:@shadow !important;
  -ms-box-shadow:@shadow !important;
}
.clear{
  display: block; 
  clear: both;
}
a{ 
  color:@cK;
  .transition;
}
a:hover{
  text-decoration: none; 
  opacity: 0.6;
}
.block_wpr{
  width: 100%;
  clear: both;
  position: relative;
}
.block_cntt{
  position: relative;
  .width_center;
}


/* Content */
body{
  font-family: @fontRe;
  font-size: 15px;
  background: @cG2;
}
.header{
  background: url(../img/header.png) top center;
  height: 130px;
  text-align: center;

  h1{
    a{
      display: block;
    }
  }
}

// Menu Dropdown
.menu{
  text-align: center;

  .ib-added{
    display: none !important;
  }
  li.menu-item{
    display: inline-block;
    padding: 12px 5px 15px;
    font-size: 17px;
    width: auto;
  }
}


.menu_wpr{
  background: @cG3;
  border-top: 3px @cW solid;

  .menu{
    height: 60px;

    li.menu-item{
      margin-left:126px;
      height: 34px;
      position: relative;
      background: none;
    }
    li.menu-item-home{
      margin-left: 0;
    }
    li.ui-state-active,
    li:hover{
      background: url(../img/icons/menu_border.gif) bottom center no-repeat;
    }

    .sub-menu{
      z-index: 100;
      left: 0 !important;
      top: 70px !important;
      padding: 0;
      margin: 0;
      text-align: left;
      li{
        display: block;
        margin: 0;
        line-height: normal;
        padding: 0;
        height: auto;
        background: @cO2;
        a{
          font-size: 14px;
          color: @cW;
          padding: 5px 20px;
          display: block;
        }
        a:hover{
          background: @cO;
        }
      }
    }
  }
}

// home Gallery 
.bx-wrapper {
  .bx-controls-direction a{
    width: 38px;
    height: 38px;
  }
  .bx-pager{
    bottom: 20px;
    position: absolute;
  }
  .bx-prev{
    background: url(../img/icons/gal_arrow_left.png) center no-repeat;
    bottom: 15px;
    top: auto !important;
    left: 15px;
  }
  .bx-prev:hover{
    background: url(../img/icons/gal_arrow_left_h.png) center no-repeat;
  }
  .bx-next{
    background: url(../img/icons/gal_arrow_right.png) center no-repeat;
    bottom: 15px;
    top: auto !important;
    right: 15px;
  }
  .bx-next:hover{
    background: url(../img/icons/gal_arrow_right_h.png) center no-repeat;
  }
}

.separator{
  height: 55px;
  background: url(../img/separator_lines.gif) center repeat-x;
  text-align: center;
  .ico{
    display: inline-block;
    height: 55px;
    width: 55px;
    background: @cG2 url(../img/separator.png) center no-repeat;
  }
}

// Home
body.home{

  .block_01{
    padding-top: 40px;
    .bx-wrapper{
      li{
        text-align: center;
        img{
          border:5px solid @cG3;
        }
      }
    }
  }
  .block_02{
    padding-top: 10px;
    .separator{
      margin-top: 30px;
    }
  }
  .posts_list{
    .postorder_1,
    .postorder_2{
      width: 49%;
      float: left;
      article{
        height: 220px;
        overflow-y: scroll;
      }
      .text{
        padding-bottom: 35px;
      }
    }
    .postorder_2{
      margin-left: 2%;
    }
    .postorder_3{
      clear: both;
    }
    .postorder_4,
    .postorder_6,
    .postorder_5{
      width: 32%;
      float: left;
      article{
        height: 220px;
        overflow-y: scroll;
      }
      .text{
        padding-bottom: 35px;
      }
    }
    .postorder_5,
    .postorder_6{
      margin-left: 2%;
    }
    .postorder_7,
    .postorder_8,
    .postorder_11,
    .postorder_9{
      clear: both;
    }
  }
}

// Post List
.post_item{
  padding-top: 30px;
  .category{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 13px;
    padding: 7px 10px;
    a{ color: @cW;}
  }

  // Post Category Colors
  .category{
    background: @cG;
  }
  .date,
  .view-article{
    color: @cG;
  }

}
.cat_literatura{
  .category{
    background: @cB;
  }
  .date,
  .view-article{
    color: @cB;
  }
}

.cat_filosofia{
  .category{
    background: @cP;
  }
  .date,
  .view-article{
    color: @cP;
  }
}

.cat_historia{
  .category{
    background: @cGreen;
  }
  .date,
  .view-article{
    color: @cGreen;
  }
}

.cat_politica{
  .category{
    background: @cR;
  }
  .date,
  .view-article{
    color: @cR;
  }
}

.posts_list{
  article{
    padding: 35px;
    position: relative;
    background: @cW;
    border: 5px solid @cG3;
  }
  .date{
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px;
    font-size: 13px;
    text-align: right;
  }
  .title{
    font-size: 24px;
    font-family: @fontBl;
    padding-top: 22px;
  }
  .text{
    padding-top: 10px;
    .view-article{
      text-transform: uppercase;
      font-family: @fontBl;
      font-size: 11px;
      padding-left: 5px;
    }
  }
}
.top_posts{
  padding-top: 40px;

  .col_title{
    font-family: @fontBl;
    font-size: 20px;
    color: @cG;
    border-bottom: 5px solid @cG;
    padding-bottom: 10px;
    display: inline-block;
  }
  .wpp-list{
    clear: both;
    background: @cW;
    margin-top: 10px;
    padding: 20px;
    border: 5px solid @cG3;
    float: left;
    
    li{
      margin: 0 0 10px 4%;
      width: 30.66667%;
      float: left;
      clear: none;
      position: relative;

      .wpp-category{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 13px;
        padding: 7px 10px;
        background: @cG;
        a{ color: @cW;}
      }
      .wpp-date{
        position: absolute;
        right: 0;
        top: 0;
        padding: 7px;
        font-size: 13px;
        text-align: right;
        color: @cG;
      }
      .wpp-post-title{
        border-top: 1px solid @cG;
        margin-top: 45px;
        padding-top: 12px;
        font-size: 21px;
        font-family: @fontBl;
        display: inline-block;
        color: @cG;
      }

    }
    li:first-child{
      margin-left: 0;
    }
  }
}

// About
body.a-autora{
  //background: url(../img/z_lixo/A_autora.jpg) center top;
  .about_wpr{
    padding-top: 50px;
    .photo{
      float: left;
      margin: 30px 30px 30px 0;
    }
    .page_title{
      font-size: 30px;
      font-family: @fontBl;
    }
    article{
      float: left;
      font-size: 17px;
      line-height: 35px;
      margin-top: 30px;
      width: 490px;
    }
  }
  .publicat_wpr,
  .particip_wpr{
    width: 49%;
    margin-left: 2%;
    float: left;
    .col_title{
      font-size: 15px;
      font-family: @fontBl;
      color: @cO;
    }
    .about_list{
      background: @cW;
      padding: 20px;
      margin-top: 20px;
      height: 300px;
      overflow-y: scroll;
      a{
        display: inline-block;
        padding-left: 30px;
        background: url(../img/icons/breadc.png) left top no-repeat;
        margin: 0 0 20px;  
        color: @cG;
      }
    }
  }
  .publicat_wpr{
    clear: both;
    margin-left: 0;
  }  
}

// Texts
body.category{

  .block_02 .block_cntt{
    padding-top: 20px;

    .separator{
      height: 40px;
    }
  }
  .page_title{
    font-size: 17px;
    font-family: @fontBl;
    
    a {color: @cO;}
    li{
      background: url(../img/icons/breadc.png) right center no-repeat;
      display: inline-block;
      padding-right: 30px;
      margin-right: 15px;
    }
    .ib-lastcrumb{
      background: none;
    }
    .menu-item-home{
      display: none;
    }
  }
  .postorder_1{
    padding-top: 0;
  }
}

// Single
body.single{
  

  .sinle_wpr{
    .date{
      color: @cG;
      font-size: 12px;
    }
    .category{
      right: 0;
      left: auto;
      top: 50px;
    }
  }
  .post_item{
    padding-top: 0;
    .title{
      font-size: 34px;
      margin-top: 13px;
      font-family: @fontBl;
    }
    .text{
      margin-top: 25px;
      color: @cG;
      line-height: 23px;
    }
  }
  .comments_wpr{
    margin-top: 20px;
    position: relative;
    .title{
      font-size: 24px;
      color: @cO;
      font-family: @fontBl;
      font-style: italic;
    }
    .share_bar{
      position: absolute;
      top: 75px;
      right: 0;
      .bar_title{
        font-size: 12px;
        color: @cG;
        display: inline-block;
        vertical-align: middle;
      }
      .button_wpr{
        display: inline-block;
        vertical-align: middle;
      }
      .share_button{
        display: inline-block;
        margin-left: 7px;
        vertical-align: middle;
      }
    }
    .comments_cntt{
      padding-top: 35px;

      .comment-respond{
        position: relative;
        height: 260px;
      }
      .comment-reply-title,
      .logged-in-as,
      .comment-notes,
      .comment-form-url,
      .form-allowed-tags{
        display: none;
      }
      .comment-form-author,
      .comment-form-comment,
      .comment-form-email{
        display: block;

        input{
          display: block;
          margin-top: 10px;
        }
      }
      .comment-form-author,
      .comment-form-email{
        position: absolute;
        left: 0;
        width: 49%;
      }
      .comment-form-author{
        top: 5px;
      }
      .comment-form-email{
        top: 95px;
      }
      .comment-form-comment{
        width: 49%;
        position: absolute;
        right: 0;
        top: 5px;
        textarea{
          margin-top: 10px;
          height: 106px;
        }
      }
      .form-submit{
        position: absolute;
        top: 190px;
        right: 0;
      }
      .children{
        border-left: 4px solid @cO;
        padding-left: 20px;
        margin-left: 30px;
        margin-top: 20px;
      }
    }
    .comments_list{
      .comment_list_title{
        padding-top: 30px;
        font-size: 18px;
        color: @cG;
        font-family: @fontBl;
        font-style: italic;
      }
      ul{
        margin-top: 50px;
      }
      li.comment{
        padding-top: 20px;
      }
      .comment-body{
        position: relative;
        p{
          font-size: 14px;
          color: @cG;
          line-height: 20px;
        }
      }
      .fn{
        font-family: @fontBl;
        font-size: 15px;
        color: @cK;
        position: relative;
        top: -3px;
        margin-bottom: 5px;
      }
      .says{
        display: none;
      }
      .avatar{
        width: 50px;
        height: auto;
        float: left;
        margin: 0 20px 0 0;
      }
      .comment-meta{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        color: @cG;
        font-style: italic;
        a{
          color: @cG;
        }
      }
      .reply{
        clear: both;
        height: 30px;
        text-align: right;
        .comment-reply-link{
          background: @cO;
          color: @cW;
          padding: 5px;
          font-size: 12px;
        }
      }
    }
  }
}

// Contact
body.contato{
  .contact_wpr{
    padding-top: 50px;
    .page_title{
      font-size: 30px;
      font-family: @fontBl;
    }
    .text{
      font-size: 16px;
      color: @cG;
      padding-top: 30px;
    }
    // Form
    .col_1,
    .col_2{
      padding-top: 42px;
      width: 48%;
      float: left;
    }
    .col_2{
      padding-left: 4%;
    }
    textarea{
      height: 196px;
    }
    .buttons{
      text-align: right;
      clear: both;
      padding-top: 20px;
    }
  }
}

// Form Style
form{
  label{
    font-size: 12px;
  }
  .form_div{
    padding: 5px 0 19px;
  }
  p #author,
  p #email,
  p #comment,
  .txt{
    border: none;
    width: 96%;
    color: @cW;
    background: @cG;
    padding: 16px 2%;
    font-size: 14px;
    font-family: @fontRe;
  }
  .form-submit input,
  .btn{
    cursor: pointer;
    border:none;
    color: @cW;
    font-family: @fontBl;
    background: @cO2;
    padding: 17px 10px;
    font-size: 15px;
  }
}

// Footer
.footer{
  margin-top: 100px;
}
footer{
  clear: both;
  text-align: center;
  color: @cG;
  font-size: 12px;
  padding-bottom: 20px;

  .menu{
    height: 35px;
    a{color: @cG;}
  }
  li.menu-item{
    margin-left: 145px;
  }
  li.menu-item-home{
    margin-left: 0;
  }
  .sub-menu{
    display: none;
  }
  .copyright{
    line-height: 20px;
    height: 20px;
    text-align: left;
  }
  .by{
    position: absolute;
    right: 0;
    bottom: 23px;
    span{
      display: inline-block;
      color: @cG;
      font-size: 11px;
    }
    a{
      display: inline-block;
      height: 35px;
      width: 35px;
      background: url(../img/footer_sign.png) center no-repeat;
      position: relative;
      top: 13px;
    }
  }
}


// Pagination
.pagination{
    padding: 50px 0;
    text-align: center;
    
    .page-numbers{
      display: inline-block;
      height: 45px;
      width: 45px;
      background: #999;
      text-align: center;
      line-height: 45px;
      font-size: 26px;
      margin: 0 2px;
      color: @cG2;
    }
    .dots{
      color: #797164;
      background: none;
      width: 30px;
      margin:0;
    }
    .current{
      background: @cO;
    }
    .next{
      background: #999 url(../img/icons/pag_arrow_right.png) center no-repeat;
      color: transparent;
      position: relative;
      left: 0;
    }
    .next:hover{
      left: 3px;
    }
    .prev{
      background: #999 url(../img/icons/pag_arrow_left.png) center no-repeat;
      color: transparent;
      position: relative;
      right: 0;
    }
    .prev:hover{
      right: 3px;
    }
}
